[2020-05-01 13:07] TranceGeniK commented on #81
Sorry, my English isn't very good, I have a hard time explaining myself ^^
The issue is not that styles are removed, it's the autoScrolling being disabled like you said earlier that makes the page go to the top in this case.
So the way it is now, either I have to accept the scrollbar flashing during my leave transition, or the page jumping to the top. Until now, I waited for the page to fade out t

[2020-05-01 16:01] alvarotrigo commented on #81
And that's why I suggested you to keep applying your change and then just use the `silentMoveTo` method to prevent the page from scrolling to the top and keeping it focusing the active section.

[2020-05-02 07:30] TranceGeniK commented on #81
Yeah I understood that, problem is that vue-fullpage beforeDestroy method is called after the parent component beforeDestroy, so I can't call `silentMoveTo` after :/

[2020-05-02 12:44] alvarotrigo commented on #81
You can add it in the pull request, just after the destroy call. Won't cause any harm for other use cases.

https://github.com/alvarotrigo/vue-fullpage.js/pull/167/commits/f42de0a8c4aaae64e62a6f10708b95ef50842e9d#diff-0a4437b0cc9c482ff72b0a86f5320cf5R39

[2020-05-03 00:13] JuniorMeza commented on #117
I found the solution by adding as an external library in nuxt.config.js and removing the plugins

script: [{
      src: 'https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/vendors/scrolloverflow.js'
    }]

[2020-05-03 16:11] alvarotrigo commented on #166
You have two options:

1 - You can use [fullpage.js state classes to use CSS conditions.](https://github.com/alvarotrigo/fullPage.js#state-classes-added-by-fullpagejs.

2- You can use [fullPage.js callbacks](https://github.com/alvarotrigo/fullPage.js#callbacks) to trigger your code on different states of your site.

I hope that helps you here :)

[2020-05-03 16:11] #166 closed

[2020-05-05 06:39] TranceGeniK commented on #81
Just tried it, doesn't seem to do do anything...
I'm just going to use the removed hook on my fork, this seems to be the easiest solution
Thanks for the help :)

[2020-05-05 10:24] alvarotrigo commented on #81
@TranceGeniK can you create a public URL were we can test the use case?

[2020-05-05 11:31] CHEWX commented on #81
I think @TranceGeniK issue should be opened in a new issue, it's not the issue at hand here.

Out the box the issue is with fullpage destroying too early as per — https://github.com/alvarotrigo/vue-fullpage.js/issues/81#issuecomment-532532663

[2020-05-05 12:00] alvarotrigo commented on #81
Agree! :) Thanks for the heads-up! 👍

[2020-05-05 13:19] TranceGeniK commented on #81
Actually, this is the same issue, the PR is just a proposed solution to it, but after consideration it doesn't solve everything related. I'm trying to put together a simple test page

[2020-05-05 13:42] TranceGeniK commented on #81
Here is a test page : https://trancegenik.github.io/vue-fullpage-issue-81-test-pages/
And the code : https://github.com/TranceGeniK/vue-fullpage-issue-81-test

I didn't include the PR here, for you to see the initial issue

[2020-05-05 16:32] alvarotrigo commented on #81
@TranceGeniK can you provide the reproduction with your PR too?

[2020-05-05 17:41] TranceGeniK commented on #81
Yes, code is in the same repo, in the with-pr branch
Test page here : https://trancegenik.github.io/vue-fullpage-issue-81-test-with-pr-pages/
I didn't manage to remove the `Fullpage.js can only be initialized once and you are doing it multiple times!` error here (weird because I don't have it on my main site but I don't want to spend to much time on this now), so you will have to refresh the page

[2020-05-05 18:16] TranceGeniK commented on #81
And here's one with the removed hook (with-removed-hook branch for code)
https://trancegenik.github.io/vue-fullpage-issue-81-test-with-removed-hook-pages/

[2020-05-06 15:05] peter2606 commented on #166
Thank you so much! i figured out how to do both the things thanks to the
video you did time ago.
Congratulations for your framework! it is awesome :D

Il giorno dom 3 mag 2020 alle ore 18:11 Álvaro <notifications@github.com>
ha scritto:

[2020-05-06 23:29] alvarotrigo commented on #166
Thanks!! :)
Glad you managed to make it work!

[2020-05-09 09:12] mozafarfahimi opened #168 "navigation: true option not working at all!"
I'm using nuxt and registering vue-fullpage in plugins and the main feature (fullpage scrolling) is working but the option navigation: true not working for me.

[2020-05-09 17:22] alvarotrigo commented on #168
Seems to be working fine on the codesandbox provided in the docs:
https://codepen.io/alvarotrigo/pen/zpQmwq

Can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code? Use empty sections unless strictly necessary for the reprod

[2020-05-09 19:38] mozafarfahimi commented on #168
here is the index.vue file in pages where i want fullpage for my home page
and i've registered full-page component as a plugin in in plugins folder.
the snap scrolling feature and scrollbar: false are just working fine but i can't get the spans for navigation to work!

<template>
  <full-page :options="options" id="fullpage">
    <div class="section">
      <h3>Section 1</h3>
    </div>
    <div c

[2020-05-09 19:39] mozafarfahimi commented on #168
here is the index.vue file in pages where i want fullpage for my home page
and i've registered full-page component as a plugin in in plugins folder.
the snap scrolling feature and scrollbar: false are just working fine but i can't get the spans for navigation to work!

`<template>
  <full-page :options="options" id="fullpage">
    <div class="section">
      <h3>Section 1</h3>
    </div>
    <div

[2020-05-14 09:16] w405287435 commented on #137
Is the problem solved？？？    How？

[2020-05-14 12:37] alvarotrigo commented on #137
@w405287435 see this pull request:
https://github.com/alvarotrigo/vue-fullpage.js/pull/161

We'll be merging that for the next release, but you can use it so far :)

[2020-05-14 13:01] w405287435 commented on #137
@alvarotrigo
Thank u very much!
I'll try

[2020-05-16 13:44] alvarotrigo commented on #168
I'll wait a codepn or a codesanbox with the reproduction.

[2020-05-17 13:34] BlackBiM123 commented on #117
@ZerNico  @versionmj
I have this problem too, and im totally confused with it. please. tell me that the problem is already solved? and if not what solution you find

[2020-05-17 18:00] alvarotrigo commented on #117
For SSR we will soon merge this pull request, so you can take a look at this solution:
https://github.com/alvarotrigo/vue-fullpage.js/pull/161

[2020-05-20 06:39] BlackBiM123 commented on #117
@alvarotrigo Im sorry  for perseverance but could you tell mу more precisely how soon you will merge it? I'm looking forward to this fix, but can't fix it by myself according to your solution. It gives me only new errors, i suppose i do something wrong, so i need a tutorial or something like that.

[2020-05-20 09:24] alvarotrigo commented on #117
Unfortunately I do not have a precise time in mind. I'll talk with Dobromir and see if he's available these days.

If you are in a rush,  please consider getting [a Business License for it](https://alvarotrigo.com/fullPage/pricing/) and we'll move it into the high priority list.

[2020-05-22 06:29] BlackBiM123 commented on #117
@alvarotrigo ok. understood.Yes, im in a rush but...  The main thing I'm interested in, is the guarantee of properly working fullpage with SSR on production. If you can fix it soon i will buy the buisness license of course, but .. the problem apppeared quite a long time ago, thats why i doubt. I will not use this plugin without this feature. What can you say about this?

[2020-05-22 12:27] alvarotrigo commented on #117
@BlackBiM123 I can't promise a solution because we can't assure things 100%, but I can promise we can take a look at the issue and potentially find a solution :)

Priority support doesn't mean we will solve things for sure. It means we will move you to the high priority tasks and we will do our best to provide a solution to them. Unfortunately sometimes there are problems that do not have a soluti

[2020-05-24 13:05] Nuke111 opened #169 "How to making <v-list-item> menus responsive when scrolling down?"
Hi?

I am creating a homepage using vuetify and vue-fullpage.js

![image](https://user-images.githubusercontent.com/45309966/82754787-5fa91700-9e0a-11ea-900b-c7cb2ba1ca7e.png)

When you click on the menu, go to the page and active pink color.

But... How to making menus responsive when scrolling down..

How to making menus responsive when scrolling down?

https://stackoverflow.com/questions/619799

[2020-05-25 22:27] alvarotrigo commented on #169
You'll have to use the fullpage `menu` option.
More info on the fullpage.js docs:
https://github.com/alvarotrigo/fullPage.js

[code]

[code]

[2020-05-25 22:27] #169 closed

[2020-05-28 06:58] wphubs opened #170 "It comes back to the top after a while"
Hello， Mobile page exceeds screen size，about a few seconds，back to top.

How to cancel back to the top？

[2020-05-28 12:12] alvarotrigo commented on #170
Please provide an isolated reproduction in [jsfiddle](https://jsfiddle.net/alvarotrigo/ea17skjr/) or [codepen](https://codepen.io/alvarotrigo/pen/qqabrp), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code. Use empty sections unless strictly necessary for the reproduction.

Perhaps you might find useful to read my article regarding [how to create isolated reproduct

[2020-05-28 12:13] alvarotrigo commented on #170
Can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code? Use empty sections unless strictly necessary for the reproduction.

[2020-06-03 14:46] MrDWilson commented on #168
[I feel this could very well be a duplicate of this issue, with the CSS file not being imported.](https://github.com/alvarotrigo/vue-fullpage.js/issues/118)

[2020-06-04 10:03] alvarotrigo commented on #168
Thanks for pointing that out @MrDWilson ! 👍

[2020-07-23 12:34] jamespurnama1 opened #173 "Callback Index Inaccurate to Section #"
### Description
Did a simple test of the callback. The index is inaccurate, meaning index 0 is not always section 1, index 1 is not always section 2, and so on. On several occasions, multiple sections can have the same index.

### Steps to reproduce it
1. Create a Vue app
2. Install and import vue-fullpage.js
3. Create a 3 section fullpage
[code]
4. List callback in options
`afterLoad: this.afterL

[2020-07-23 13:35] alvarotrigo commented on #173
Can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/)?

[2020-07-23 13:56] jamespurnama1 commented on #173
Here's the [codepen link](https://codepen.io/jamespurnama1/pen/LYGaVmO)
You can check console while scrolling.

[2020-07-23 14:11] alvarotrigo commented on #173
The afterLoad param is wrong.
First one is always `origin` as detailed in the [the fullpage.js documentation](https://github.com/alvarotrigo/fullPage.js)

[code]

I hope that explains those results :)

[2020-07-23 14:11] #173 closed

[2020-07-23 14:26] jamespurnama1 commented on #173
ah I see, turns out my linter is forcing me to remove origin & direction param since it's not used inside the function {}.
For anyone in the future who stumbles at the same problem simply ignore the linter.

[code]

Thanks & sorry for the trouble.

[2020-07-23 14:31] alvarotrigo commented on #173
No worries! I'm glad you figure out a good solution for it!

[2020-08-28 09:29] jamespurnama1 commented on #102
### Description
I am facing the same problem
Maybe @versionmj can guide me to his solution.
[code]
Trying to access fullpage API in several ways:
1. I am unable to use $refs since the fullpage instance is on a sibling component, so I used Id instead:
[code]
`Cannot read property 'moveTo' of undefined"`

2.  fullpage_api returns undefined
[code]

### Link to isolated reproduction with no external C

[2020-08-28 10:14] alvarotrigo commented on #102
Try reproducing it in https://codesandbox.io/ or https://stackblitz.com/edit/angular-nqsqwk then :)

[2020-08-28 13:43] jamespurnama1 commented on #102
Here you go:
https://codesandbox.io/s/fullpagejs-20j19

[2020-09-03 17:04] #151 closed

[2020-09-07 10:23] alvarotrigo commented on #102
What do you mean when you say

It seems to work properly for me.
It returns to section 0 when in any other.

[2020-09-15 07:43] jamespurnama1 opened #178 "[Question] Slide overflowing to next section"
### Description
In the codesandbox, the slide is overflowing to the next section & not horizontally, am I doing something wrong?

### Link to isolated reproduction with no external CSS / JS
https://codesandbox.io/s/fullpagejs-20j19

[2020-09-15 09:48] alvarotrigo commented on #178
You might be missing the css file?
See the demo here and compare with yours:
https://codepen.io/alvarotrigo/pen/zpQmwq

Also a webpack one here:
https://github.com/alvarotrigo/vue-fullpage.js/tree/master/demos/webpack

[2020-09-15 09:48] #178 closed

[2020-09-25 11:56] zhaoxiaozhao1 opened #179 "如何动态创建slide在section中"
### Description

### Link to isolated reproduction with no external CSS / JS
[Ideally in codepen.io or codesandbox.io, links to personal websites won't be reviewed unless isolated. Reported issues without a reproduction might get closed.]

### Steps to reproduce it
1. [First step]
2. [Second step]
3. [and so on...]

### Versions
[Browser, operating system, device, ...]

[2020-09-25 12:27] alvarotrigo commented on #179
Here's the answer:
https://github.com/alvarotrigo/vue-fullpage.js#dynamic-changes

[2020-09-25 12:27] #179 closed

[2020-09-27 09:29] zhaoxiaozhao1 commented on #179
如何在动态创建的slide中 插入自定义的组件。和苦恼，麻烦回复一下，谢谢啦

[2020-09-28 12:32] alvarotrigo commented on #179
Google translator is not great  unfortunately :)

English please?

[2020-09-30 02:28] zhaoxiaozhao1 commented on #179
Be solved，thank you

[2020-10-03 21:43] rawnanoob opened #180 "Can't pinch to zoom on phone"
### Description

### Link to isolated reproduction with no external CSS / JS
[Ideally in codepen.io or codesandbox.io, links to personal websites won't be reviewed unless isolated. Reported issues without a reproduction might get closed.]

### Steps to reproduce it
1. [First step]
2. [Second step]
3. [and so on...]

### Versions
[Browser, operating system, device, ...]
any mobile browser

[2020-10-04 10:58] alvarotrigo commented on #180
Thanks for reporting it!
That's a well known issue and there's [an open issue about it](https://github.com/alvarotrigo/fullPage.js/issues/1268) on the main fullPage.js repository.

I'll close this one to have it all centralised in one place.

Short answer:
There's now ay to pinch and zoom yet unless you use the option `autoScrolling:false` to turn off snap scroll.
No intention of implementing this

[2020-10-04 10:58] #180 closed

[2020-12-12 07:04] abnernat commented on #87
That'll be very nice.

[2020-12-12 11:43] alvarotrigo commented on #87
@abnernat want to do a PR?

[2020-12-12 21:40] selfagency opened #181 "Vue component does not work with subcomponents"
### Description

In Nuxt.js, the Vue Fullpage.js component does not work with subcomponents. If you try to use a subcomponent within the `full-page` component, it does not render properly. 

### Link to isolated reproduction with no external CSS / JS

https://codesandbox.io/s/silly-beaver-eu1tc?file=/pages/index.vue

### Steps to reproduce it

1.  Create a parent `front-page` element.
2.  Include

[2020-12-12 21:57] selfagency commented on #181
I figured it out on my own. The issue is using Nuxt's automatic importation of components. It seems that there may be a race condition there. You need to explicitly import the component rather than relying on the implicit global import.

[2020-12-12 22:11] selfagency commented on #181
Never mind, that does not resolve the issue, which persists at random.

[2020-12-12 23:05] selfagency commented on #181
Just found `skip-init`. Problem solved.

[2020-12-12 23:05] #181 closed

[2020-12-14 09:23] alvarotrigo commented on #181
Good to hear you managed to solve your issue! 👍

[2021-01-16 11:30] jclaessens97 opened #182 "Safari page markers are not formatted correctly"
### Description
On safari the "page markers" on the right side are not formatted correctly.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/10177148/104810657-7582a680-57f6-11eb-95ed-f72fa3d5d62b.png">

### Versions
<img width="396" alt="image" src="https://user-images.githubusercontent.com/10177148/104810676-88957680-57f6-11eb-9654-3de191f2cd39.png">

**EDIT** appare

[2021-01-18 12:31] alvarotrigo commented on #182
Thanks for reporting it!
Issue fixed!
https://alvarotrigo.com/vue-fullpage/#page1

[2021-01-18 12:31] #182 closed

[2021-02-06 11:08] aminparsa18 opened #183 "vue 3 support"
works completely fine on vue 2.6
but im getting following error using vue 3

"TypeError: window.Vue.use is not a function"
is it supported?

[2021-02-06 11:10] dobromir-hristov commented on #183
It is not ported for Vue 3 yet.

[2021-02-06 15:13] alvarotrigo commented on #183
Apparently [they still don't have a guide](https://v3.vuejs.org/guide/migration/introduction.html#breaking-changes) for porting to version 3 and they recommend to wait for it.
![image](https://user-images.githubusercontent.com/1706326/107122149-30eaa800-6896-11eb-85fc-f89d2dbbac8c.png)

[2021-03-16 11:19] skuljanze95 opened #187 "Nuxt.js fullPage: The option `scrollOverflow:true` requires the file `scrolloverflow.min.js`."
Hello,

How can I solve this problem in nuxt.js

fullPage: The option `scrollOverflow:true` requires the file `scrolloverflow.min.js`. Please include it before fullPage.js.

[2021-03-16 11:23] alvarotrigo commented on #187
See the usage part here:
https://github.com/alvarotrigo/vue-fullpage.js#usage

[2021-03-16 11:23] #187 closed

[2021-03-19 13:54] Anthony2511 opened #188 "NuxtJs TypeError: Cannot read property '0' of null"
### Description

I used the option **nuxt-fullpage.js** as plugin with command :

`npm install --save nuxt-fullpage.js`

But when I compile my code, everything launches as it should but, I have this error message which appears in the console of the browser

<img width="569" alt="Capture d’écran 2021-03-19 à 14 43 57" src="https://user-images.githubusercontent.com/17065512/111789644-aac47700-88c1

[2021-03-19 18:49] alvarotrigo commented on #188
Make sure one of your sections has the `active` class.

[2021-03-22 08:56] Anthony2511 commented on #188
I added `active` class on one of my sections, but I still have the same problem.

[2021-03-22 11:31] alvarotrigo commented on #188
Can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code? Use empty sections unless strictly necessary for the reproduction.

[2021-03-29 10:17] Anthony2511 commented on #188
I resolved the problem. I forget to class `section` to childs sections.
Thank for your help !

[2021-03-29 10:22] alvarotrigo commented on #188
No problem!

[2021-03-29 10:22] #188 closed

[2021-04-08 08:50] DDYMZL opened #190 "paddingTop is doesn't work when i slide up"
I set paddingTop: 100px
When I'm sliding down

![image](https://user-images.githubusercontent.com/37839057/113997407-b1278c80-988a-11eb-95b4-8585dc8d63ab.png)

but when i slide up

![image](https://user-images.githubusercontent.com/37839057/113997456-bdabe500-988a-11eb-843b-1e5f265dc7d4.png)

### Versions
"vue-fullpage.js": "^0.1.7"
macOs 11.2.1

[2021-04-08 11:31] alvarotrigo commented on #190
Can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code? Use empty sections unless strictly necessary for the reproduction.

[2021-05-25 15:30] zhengyanxiong commented on #183
Hope to support Vue3.0 as soon as possible 库😭😭😭😭😭

[2021-05-25 16:00] alvarotrigo commented on #183
@zhengyanxiong want to provide a pull request?
I'm open to them :)

I haven't tried v3 yet.

[2021-05-26 01:53] zhengyanxiong commented on #183
@alvarotrigo  I am trying to use vue3, but I keep getting the following error and I don't know how to solve it.
[code]

[2021-06-25 09:44] desirelabs opened #195 "Sections are jumped over when using menu and anchors with NuxtJS"
### Description
Using `menu` and `anchors` options on nuxt makes the navigation and scrolling jump some sections.

In the provided example (see below), clicking on 'services' jumps straight to the 'pictures' section. Scrolling does the same.
A new block appears at the end of sections. Scrolling back from that point jumps over the last real section 'contact'

### Link to isolated reproduction with

[2021-06-25 09:54] alvarotrigo commented on #195
As pointed out on the <a href="https://github.com/alvarotrigo/fullPage.js" target="_blank">fullpage.js documentation</a> as well as on your JS console:

[2021-06-25 09:54] #195 closed

[2021-06-25 10:00] desirelabs commented on #195
Sorry, my bad.

[2021-07-04 04:33] lhoucinecherif commented on #105
still having the same issue in gridsome!

[2021-07-13 10:47] Yanisslsl commented on #137
Maybe try to use the Node environnement variable set to production.
`dev: process.env.NODE_ENV !== 'production'`

[2021-08-09 14:09] FJLendinez commented on #183
As a temporal solution you can copypaste this component into your source code.
[code]

The main change is to replace the **beforeDestroy** event to **beforeUnmount**

[2021-08-09 16:30] shikhinee opened #196 "What is the correct way to implement vue-fullpage.js animate.css wow.js"
### Description
I'm having problems with getting vue-fullpage.js, animate.css, and wow.js to work together. There are not enough documentation or people with similar problems to get reference from. I wanted to keep  ```scrollbar: false``` while applying animations using afterLoad and onLeave as making it true will destroy the whole website experience I've created so far. This is how I'm importing

[2021-08-09 19:05] alvarotrigo commented on #196
I don't think wow.js supports animations when the scrollbar is not present.
I would encourage you to ask in their github project.

From the fullpage.js side I can only recommend you to use the `scrollBar:true` option.

[2021-08-09 19:05] #196 closed

[2021-08-12 02:06] xianchaokuan commented on #183
how did u resolve it?

[2021-09-01 12:16] ArseniyShestakov commented on #183
Can't make it find jQuery when using in Vue3 project using TypeScript.

[2021-09-01 12:17] alvarotrigo commented on #183
fullpage.js doesn't require jQuery :)

[2021-09-01 12:28] ArseniyShestakov commented on #183
@alvarotrigo oops, my bad then.

I just got usual ```Uncaught (in promise) TypeError: $(...) is null``` selector error during my attempts to make it work with Vue 3 + TypeScript and falsely assumed the problem has something to do with jQuery.

[2021-09-01 12:36] alvarotrigo commented on #183
As the issue says, it's not ported yet to Vue 3.

[2021-09-02 21:15] matthiaswid commented on #183
When will it work with vue 3?

[2021-09-03 10:30] alvarotrigo commented on #183
@matthiaswid whenever we can :)
Feel free to provide a pull request if this is something you can provide value to.

[2021-09-07 16:31] wanxe commented on #170
I'm having exactly this issue but for desktop sizes. And it can't let me go back to the 1st slide. (Nuxt project with ClientOnly)

There's the config:
`      fullPageOptions: {
        licenseKey: 'XXXX',
        scrollBar: true,
        controlArrows: false,
        loopBottom: false
      },`

[2021-09-08 09:04] alvarotrigo commented on #170
@wanxe can you please provide an isolated reproduction in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the minimum amount of HTML code? Use empty sections unless strictly necessary for the reproduction.

[2021-09-20 15:13] sneko opened #198 "Was not able to scroll properly on iOS"
Hi,

I solved my issue but I leave it here for the record 👍

## Issue

Everything was working great with the plugin on all platforms except inside Safari on iOS. For whatever reason after the init, when I tried to scroll by touching a text nothing happened (except randomly, but that's rare), but if I touched a blank area to scroll there is no issue at all.

## Solution

~~I investigated during hou

[2021-09-20 15:28] alvarotrigo commented on #198
Thanks for the explanation @sneko !! 👍

[2021-09-20 17:25] sneko commented on #198
@alvarotrigo I was wrong, I posted too fast! During my tests it was working because it broke the whole Vue thing and FullPage.js was not initializing 😩  (was testing only on mobile and since I use `responsiveWidth` I thought everything was good now)

A new time I tried to reduce the possibilities and I figured it out a weird behavior:
[code]

I don't know if you have an iPhone (I'm using an iPhone

[2021-09-21 06:35] sneko commented on #198
@alvarotrigo I'm glad I was able to reproduce it into a simple Codepen (without SSR and so on)! You just need to start the scroll from a text with written "NOT WORKING". Please find it here: https://codepen.io/sneko7/pen/ZEyoZXx (sometimes it seems the browser accepts scrolling on them after some time and some attempts, if so to reset just refresh the page).

But to test it may be better with the

[2021-09-21 10:37] alvarotrigo commented on #198
The codepen won't even autoScroll on my iPhone 11. You are using `responsiveWidth: 768,`  and the iPhone has less than 768px width, so it enters into responsive mode.

I forked it and replaced it for `responsiveWidth: 268,` and I can't reproduce the issue on Safari/iPhone 11/iOS 14.2

I've also tested it on browserstack.com with a real device on iOS 14.4:
https://user-images.githubusercontent.com/

[2021-09-21 10:44] sneko commented on #198
@alvarotrigo maybe we misunderstood each other:

Indeed the plugin enters in its responsive mode due to the `768px` limit, that's totally wanted.

My issue is that I cannot use the basic scroll of the browser if a block `div` (containing text) does not contain an inline HTML tag.

In my Codepen you can see the difference between those noted as `WORKING` and those `NOT WORKING`. When I touch the `N

[2021-09-21 10:53] alvarotrigo commented on #198
All your NOT WORKING text in the codepen is wrapped by `<div>` tags.

[2021-09-21 11:00] alvarotrigo commented on #198
I still can not reproduce the issue on responsive mode.
Here's the codepen I'm using:
https://codepen.io/alvarotrigo/pen/VwWdwzx

Video:
https://user-images.githubusercontent.com/1706326/134159387-77c3e65a-afd3-4737-bc4d-b69fb407831c.mp4

[2021-09-21 11:18] sneko commented on #198
@alvarotrigo yes they are "raw text" inside a div, like for `<div>Hello</div>` (will not work), there is no nested inline tag like `<div><span>Hello</span></div>` (will work).

It's hard for me to know where you clicked for the `NOT WORKING`, because if you click just a bit aside it will work. Let's say it worked on your side, maybe there is a difference of Safari... ?

I recorded a demonstration,

[2021-09-21 11:32] alvarotrigo commented on #198
Have you tried reproducing it outside codepen or any other iframe?

[2021-09-21 11:34] sneko commented on #198
@alvarotrigo yes, I did the Codepen because it's happening on the project I'm working on (Vue.js project). But as you can see the Codepen includes nothing from Vue.js that's just raw JS for your plugin.

[2021-09-21 12:30] sneko commented on #198
@alvarotrigo for years Apple makes Safari interpreting things weirdly compared to other browsers (either CSS, sometimes doing breaking changes on cookies... I saw a lot). They do their own way most of the time, and sometime we pay the consequences 🥲

Anyway, I don't know what's the stack of things that makes Safari going wrong, maybe kind of CSS transforms done by FullPage.js (I remember without i

[2021-09-28 02:37] nanjuxing commented on #163
我也是e undefined

[2021-10-23 18:08] PabWandr opened #200 "Scrolling down not working on mobile with carousel"
### Description
Trying to use vuetify carousel within the fullpage section. The carousel section is not scrollable going downward but seems to work going up

### Link to isolated reproduction with no external CSS / JS
Codepen https://codepen.io/juan-pablo-ugas/full/YzxNVyJ

### Versions
Latest version on mobile chrome and safari

[2021-10-24 10:20] #200 closed, assigned to nobody

[2021-11-03 07:48] ypc-git commented on #183
When will it work with vue 3?

[2021-11-03 12:13] alvarotrigo commented on #183
@ypc-git whenever we can :)
Feel free to provide a pull request if this is something you can provide value to.

[2021-11-09 08:29] sebastianbayer commented on #183
when is a working vue3 version to be expected? this year or more likely next year..? (we would appreciate to use fullpage.js for a project but timing is kind of crucial 😬)

[2021-11-09 11:31] alvarotrigo commented on #183
I don't have a date in mind. As soon as fullPage.js 4 gets released I'll start working on this.
Can be around December 2021 or a bit later next year.

[2021-11-09 11:31] alvarotrigo commented on #183
But if any of you guys want to contribute to it and do the change, I'll be more than happy to accept your PR :)

[2021-11-27 12:55] hs0932 opened #201 "「央视新闻」大发24小时精准聊天室「央视网」"
..

[2021-11-27 12:55] hs0932 opened #202 "【央视新闻】无论亏损多少三天带你回血〖央视网〗"
无论亏损多少三天带你回血╇【华哥 Q6549_724】带你起飞 【惘√zh33典vip√ 】〔复.制.到·浏·览·器·打·开〕【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 12:58] hs0932 opened #203 "『央视新闻』真正有实力带人回血〖央视网〗"
...

[2021-11-27 13:00] hs0932 opened #204 "〖央视新闻〗大发带人回血最稳最厉害的导师【手机搜狐网】"
...

[2021-11-27 13:00] hs0932 opened #205 "『央视新闻』正规单带回血靠谱导师〖手机搜狐网〗"
...

[2021-11-27 13:01] hs0932 opened #206 "〖央视新闻〗大发输了走势回血技巧【手机搜狐网】"
,.

[2021-11-27 13:01] hs0932 opened #207 "『央视新闻』精准计划三天包回血【手机搜狐网】"
精准计划三天包回血╇【华哥 Q9372_638】带你起飞  【惘√zh33典vip√ 】【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】【8年无黑史】【千万人推荐】人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 13:02] hs0932 opened #208 "『金牌计划』上岸最强的回血导师QQ『手机搜狐网』"
...

[2021-11-27 13:02] hs0932 opened #209 "『金牌计划』快三真正靠谱有实力的回本导师【手机搜狐网】"
..

[2021-11-27 13:02] hs0932 opened #210 "「央视新闻」大发最正规的信誉导师「手机搜狐网」"
...

[2021-11-27 13:02] hs0932 opened #211 "「央视新闻」大发最强的精准回血导师『手机搜狐网』"
...

[2021-11-27 13:03] hs0932 opened #212 "「央视新闻」上岸最强的回血导师QQ「手机搜狐网」"
上岸最强的回血导师QQ╇【华哥 Q3696_621】带你起飞  【惘√zh33典vip√ 】【稳赢玩法】【回血带飞】【信誉平台】【资金保障】【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 13:04] hs0932 opened #213 "『央视新闻』带人最稳最厉害的回血导师『手机搜狐网』"
带人最稳最厉害的回血导师╇【华哥 Q3946_873】带你起飞 【惘√zh33典vip√ 】【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】(大额无忧)⎞⎠(信誉首选)⎞⎠(千万人推荐)人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 13:04] hs0932 opened #214 "『金牌计划』上岸最强的回血导师QQ〖手机搜狐网〗"
上岸最强的回血导师QQ╇【华哥 Q3946_873】带你起飞 【惘√zh33典vip√ 】【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】(大额无忧)⎞⎠(信誉首选)⎞⎠(千万人推荐)人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 13:04] hs0932 opened #215 "『央视新闻』大发导师一对一精准回血「手机搜狐网」"
大发导师一对一精准回血╇【华哥 Q3946_873】带你起飞 【惘√zh33典vip√ 】【金★牌★团★队★导★师★单★带丨一★对★一丨全★天★在★线★辅★导】(大额无忧)⎞⎠(信誉首选)⎞⎠(千万人推荐)人可以平凡，但绝不能平庸。真正想翻身的穷人，决不能甘于平庸，要让热血沸腾起来，保持十足的干劲和加倍的努力，突破平庸，成就非凡，进而拥抱财富与成功。（央视网评论员） 来源：央视网、人民网、搜狐财经、新华网、凤凰资讯、网易新闻、知乎日报、热点资讯、搜狐新闻、新浪新闻 统筹：王冰冰、长津湖、都市极品神医 责任编辑：华哥分析师 监制：华哥

[2021-11-27 13:08] #207 closed

[2021-11-27 13:09] #213 closed

[2021-11-27 13:09] #215 closed

[2021-11-27 13:10] #214 closed

[2021-11-27 13:11] #212 closed

[2021-11-27 13:11] #201 closed

[2021-11-27 13:12] #211 closed

[2021-11-27 13:13] #210 closed

[2021-11-27 13:13] #209 closed

[2021-11-27 13:13] #208 closed

[2021-11-27 13:14] #206 closed

[2021-11-27 13:14] #205 closed

[2021-11-27 13:15] #204 closed

[2021-11-27 13:15] #203 closed

[2021-11-29 10:31] VNavrockij opened #216 "navigation: show after load last section"
Hello. How can i "navigation: false" change on "true" when be on last section ?? =)

[2021-11-29 11:37] #216 closed

[2021-11-29 12:28] alvarotrigo commented on #216
Duplicated of https://github.com/alvarotrigo/fullPage.js/issues/4300

[2021-12-03 07:32] joshephan opened #217 "In nuxt, custom component not working inside fullpage"
### Description

package.json

{
   ...,
  "dependencies": {
    "core-js": "^3.15.1",
    "node-sass": "^6.0.1",
    "nuxt": "^2.15.7",
    "nuxt-fullpage.js": "^0.0.3",
    "sass-loader": "10",
    "vue-fullpage.js": "^0.1.7"
  },
  "devDependencies": {
    "@nuxt/types": "^2.15.7",
    "@nuxt/typescript-build": "^2.1.0",
    "vuex-module-decorators": "^2.0.0"
  }
}

I created nuxt app and insta

[2021-12-03 17:23] alvarotrigo commented on #217
Did you manage to solve the issue?
I can't see any console error in https://main.d10q0n4sejfpsv.amplifyapp.com/.

Also, can you reproduce the issue in on the demo?
https://github.com/alvarotrigo/vue-fullpage.js/tree/master/demos/webpack

Or in [codepen](https://codepen.io/alvarotrigo/pen/zpQmwq) or [codesandbox](https://codesandbox.io/), with no CSS or JS files external to fullPage.js and the mini

[2021-12-04 00:14] joshephan commented on #217
Yes I solved this issue just before reply added.  :)

My answer is added `:skip-init=true`.
And after mount.

`settimeout(()=> this.$refs.fullpage.init()).`

It works for me.

[2021-12-04 00:14] #217 closed

[2021-12-07 19:03] alvarotrigo commented on #217
Thanks for the info! :)

[2022-01-04 12:39] SupriyaGo opened #218 "Not working after nuxt generate"
### Description
after doing nuxt generate full-page is not working
[code]

### nuxt.config
[code]

### fullpage.js in plugin folder
[code]
### commands run
[code]

### options are coming [object object]
![image](https://user-images.githubusercontent.com/40319687/148060004-499e3c7d-da42-4284-ae9a-a190961bb340.png)

### Versions
 "nuxt": "^2.15.7",
"nuxt-fullpage.js": "0.0.3",

[2022-01-04 13:56] SupriyaGo commented on #105
I am getting the same issue

[2022-01-04 16:53] alvarotrigo commented on #218
Did you see [the docs on how to use it with nuxt](https://github.com/alvarotrigo/vue-fullpage.js#usage-with-nuxtjs)?

[2022-01-05 11:18] SupriyaGo commented on #218
Yes @alvarotrigo , I have followed the same still its not working

[2022-02-23 14:14] SupriyaGo opened #229 "In Nuxt targer: static build, fullpage is not working"
I have created a nuxt project and I am using vue-fullpage there. When I am doing static build of my application, full-page is not working, my web page is looking like a simple scrollable website.

[2022-02-23 15:17] alvarotrigo commented on #229
Did you read about how to use vue-fullpage.js with nuxt ?
https://github.com/alvarotrigo/vue-fullpage.js#usage-with-nuxtjs

Also, make sure to check the available examples.

Note this won't work with Vue3. We are working on that for the next version.
So far you can try to use the [new version in development](https://github.com/alvarotrigo/vue-fullpage.js/tree/next) if you want.

[2022-02-23 17:27] SupriyaGo commented on #229
@alvarotrigo I followed every step but still its not working when doing static build. Please help

[2022-02-23 17:37] alvarotrigo commented on #229
Try to provide an isolateds reproduction in codesandbox. That'd make it easier for us to check.

[2022-02-23 17:58] SupriyaGo commented on #229
[https://codesandbox.io/s/nifty-keldysh-qyttvw](url)

This is my code.

Please run -
npm run generate
npm run start

[2022-02-24 11:41] SupriyaGo commented on #229
![image](https://user-images.githubusercontent.com/40319687/155517519-b0e5409f-5ca7-4106-a933-153b11561207.png)
Here it is coming [object object]
@alvarotrigo

[2022-03-08 14:22] hung211097 commented on #147
I got this problem too when I used condition to render element. It did not appear when the variable is true

[2022-03-09 13:26] alvarotrigo commented on #147
@JonathanSchndr will the new version tackle this? 🤔

[2022-03-09 14:02] JonathanSchndr commented on #147
Much has changed next version, so it would be super if @hung211097 provides an isolated code sandbox to provoke the error. I would be happy to check this and provide a solution! Thanks a lot!

[2022-04-21 19:11] candijun opened #235 "vue fullpage footer not scrolling as its height."
### Description
vue fullpage footer not scrolling as its height, it is fully scrolling.

### Link to isolated reproduction with no external CSS / JS
(https://codesandbox.io/s/morning-sea-p0prdo?file=/src/App.vue)

### Versions
chrome latest version, vue 2.6.11

[2022-04-21 22:47] alvarotrigo commented on #235
Thanks for reporting it!
We'll be investigating it.

[2022-05-06 02:47] candijun commented on #235
Hello! alvarotrigo! Thank you for response.

I am preparing to open the site using vue-fullpage but before that I want to ask if it was about to solve.

[2022-05-06 08:58] alvarotrigo commented on #235
Yeah, the issue here is that you are loading the fullpage.css file for version 4 but vue-fullpage.js still uses fullPage.js version 3.

So make sure to load version 3.

[2022-05-06 08:58] #235 closed

[2022-05-10 16:51] #139 closed

[2022-05-10 16:51] alvarotrigo commented on #139
Merged in the latest version.

[2022-05-10 16:52] alvarotrigo commented on #168
I'll close the issue as it seems it got resolved.

[2022-05-10 16:52] #168 closed

[2022-05-10 16:54] #198 closed

[2022-05-10 16:56] alvarotrigo commented on #183
Thanks to @JonathanSchndr the latest vue-fullpage.js version supports vue3! (and fullpage.js v4!) 💪

[2022-05-10 16:56] #183 closed

[2022-05-10 16:56] alvarotrigo commented on #170
I'll close the issue until an isolated reproduction is provided.

[2022-05-10 16:56] #170 closed

[2022-05-10 16:57] alvarotrigo commented on #190
I'll close the issue until an isolated reproduction is provided.

[2022-05-10 16:57] #190 closed

[2022-05-10 16:58] #163 closed

[2022-05-10 16:59] alvarotrigo commented on #162
I guess we can close this by now?
Somehow I missed this issue.

What is HMR btw?

Can you try again now with the latest version of the vue wrapper?
I'll close the issue, but feel free to open it again.

[2022-05-10 16:59] #162 closed

[2022-05-10 17:00] #157 closed

[2022-05-14 02:37] qaz74423 opened #251 "Why am I running an error on Vite"
[ERROR] [plugin vite:dep-scan] Missing "./dist/vue-fullpage.es" export in "vue-fullpage.js" package

    node_modules/.pnpm/registry.npmmirror.com+vite@2.9.9/node_modules/vite/dist/node/chunks/dep-59dc6e00.js:39923:7:
      39923 │   throw new Error(
            ╵         ^

    at bail (E:\study\landing-page\fullpage-app\node_modules\.pnpm\registry.npmmirror.com+vite@2.9.9\node_modules\vite\dist\

[2022-05-14 09:52] alvarotrigo commented on #251
What version are you using of vue-fullpage?

[2022-05-16 03:55] qaz74423 commented on #251
is latest

[2022-05-16 07:26] JonathanSchndr commented on #251
@qaz74423 can you please recreate the error in an example so we can verify this. I think the error is local to you. For example, we are not using Vite 2.9.9 which appears in your logs.

[2022-05-17 15:24] alvarotrigo commented on #251
@qaz74423 can you provide an isolated reproduction in https://codesandbox.io/  so we can investigate the issue?

[2022-05-17 15:31] qaz74423 commented on #251
i will try,but my network may not be able to provide it

[2022-05-17 15:35] JonathanSchndr commented on #251
please swap once
`import VueFullPage from 'vue-fullpage.js/dist/vue-fullpage.es'`
to
`import VueFullPage from 'vue-fullpage.js'`

.. and try again.

[2022-05-17 15:41] qaz74423 commented on #251
Yeah, that's the problem，nice，bro.

[2022-05-17 15:46] JonathanSchndr commented on #251
perfect, sorry for the outaded readme, i will create an update for this.

[2022-05-17 16:02] #65 closed

[2022-05-17 16:02] #105 closed

[2022-05-17 16:02] #117 closed

[2022-05-17 16:02] #129 closed

[2022-05-17 16:02] #137 closed

[2022-05-17 16:02] #145 closed

[2022-05-17 16:02] #147 closed

[2022-05-17 16:02] #165 closed

[2022-05-17 16:02] #218 closed

[2022-05-17 16:02] #229 closed

[2022-05-17 16:06] JonathanSchndr opened #253 "Feat: Support TypeScript"
Integrate TypeScript into the project.

[2022-05-17 16:09] alvarotrigo commented on #253
Types can be found here:
https://github.com/alvarotrigo/react-fullpage/tree/master/types

[2022-05-25 17:07] synoloris opened #254 "Move to the first section inside another component that doesn't contain the fullpage initialization object"
I have different sections to scroll through. In the footer I have an arrow to scroll back to top of the page.
If i scroll back to the top; the fullpage scroll doesn't work anymore.

I have no access to the fullpage JS initialization becauce it's not in the same vue component. If i had, I would use `fullpage.moveTo(1);`.

So, I'm trying to remove all CSS adjustements done by fullpage JS to return t

[2022-05-25 17:12] alvarotrigo commented on #254
Can't you use the window object for it? fullpage_api is exposed to the window.

[code]

[2022-05-25 17:17] synoloris commented on #254
Thanks for the quick response. Yes, that's it, I didn't know I could access it by window.

[2022-05-25 17:18] #254 closed

[2022-05-25 17:24] alvarotrigo commented on #254
Glad it helped! ;)

[2022-07-07 09:57] amonmoce commented on #151
This worked for me

[2022-07-19 07:53] dickyjayaumbara opened #255 "Vue 2"
Hei this awesome plugin, can this plugin still worked with Vue 2, if not, can i get link for Vue 2 version.

[2022-07-19 07:57] alvarotrigo commented on #255
Sure, you can try version 0.1.5, but that won't include the latest fullPage.js version either.

https://github.com/alvarotrigo/vue-fullpage.js/releases/tag/0.1.5

[2022-07-19 07:57] #255 closed

[2022-08-04 04:09] jeffreykthomas commented on #150
Hello. Has the process for installing scrolloverflow changed? I don't see in the vue-fullpage docs what the process is for importing the scolloverflow.js file. Above it appears they have installed the full package fullpage.js, in addition to vue-fullpage.js, in order to be able to import scrolloverflow, is that correct?

[2022-08-04 10:02] alvarotrigo commented on #150
Yes, the file is no longer required. You can read more about it on the migration guide from v3 to v4:
https://github.com/alvarotrigo/fullPage.js/wiki/Migration-from-fullPage-v3-to-fullPage-v4#6-scrolloverflow-option-wont-require-an-external-file

[2022-08-04 16:02] jeffreykthomas commented on #150
Okay thank you. Was struggling to get it to work because I had parallax set to true... turning that off did the trick

[2022-10-30 03:20] mattesowah opened #259 "Can't find my profesional licence key for fullpage.js?"
Hi there,

so this isn't really much of a technical issue but I was wondering where can I access my license key once I have purchased it from the gumroad link, as it doesn't seem to be located in the file I downloaded?

[2022-10-30 08:08] mattesowah commented on #259
never mind just checked my email thanks once again

[2022-10-30 08:09] #259 closed

[2022-10-30 21:19] alvarotrigo commented on #259
Glad you figured it out :)

[2022-10-31 18:05] mattgilbertnet commented on #255
@alvarotrigo Is it possible to use fullPage.js 4 with vue-fullpage in Vue 2? (Migrating an existing app from Vue 2 to 3 can be quite involved, especially with popular dependencies like Vuetify still not supporting Vue 3.)

[2022-10-31 18:06] alvarotrigo commented on #255
I haven't tried it myself, but I invite you to give it a try :)
From our side, we don't provide support for it. I can only recommend you keep using fullPage.js v3.

[2022-10-31 21:35] mattgilbertnet commented on #255
I gave it a shot, by forking vue-fullpage before vue 3 changes, and just changing the fullpage.js version. But `build:browser` hangs.

https://github.com/mattgilbertnet/vue-fullpage.js

[2022-11-01 20:14] alvarotrigo commented on #255
Sorry but I can't assist you there.
We only provide support for the latest version.

[2022-11-01 20:15] alvarotrigo commented on #255
Try `npm run build` or `npm run dev`

[2022-11-24 10:31] guda-art commented on #255
sry,  version 0.1.5 can  work with vue2.x perfectly ? thankyou.

[2022-11-24 12:15] guda-art commented on #255
version 0.1.5 can use all options in https://github.com/alvarotrigo/fullPage.js#options

[2022-11-24 12:17] alvarotrigo commented on #255
Version 0.1.5 uses fullPage.js 3.1.2 instead of fullPage.js 4.0.15.
So you should go to version 3 docs:

https://github.com/alvarotrigo/fullPage.js/tree/3.1.2

[2022-11-24 12:17] alvarotrigo commented on #255
Version 3 is no longer maintained or supported.

[2022-11-24 12:29] guda-art commented on #255
thankyou verymuch !

[2022-11-24 17:10] guda-art commented on #255
My project uses vue2+nuxt.js. After reading all the information, I think vue-fullpage.js v0.1.5 is the only one that can be applied to my project Do you have any better suggestions?

[2022-11-24 17:10] guda-art commented on #255
@alvarotrigo

[2022-11-24 17:24] alvarotrigo commented on #255
No

[2022-11-24 17:34] guda-art commented on #255
Thanks anyway

[2022-11-28 18:48] versionmj opened #260 "vue-fullpage.js package not working in Codepen"
### Description

vue-fullpage.js package does not appear to be working codepen.

Thx.

### Link to isolated reproduction with no external CSS / JS

My Attempt:

https://codepen.io/dresscode/pen/ZERjLxY

Official wrapper demo:

https://codepen.io/alvarotrigo/pen/zpQmwq

### Versions

[Chrome Version 107.0.5304.110, Mac OS Monterey V. 12.0.1, ]

[2022-11-29 11:56] alvarotrigo commented on #260
The codepen wasn't maintained and that's for the older version of vue-fullpage.js

You can find a working demo here:
https://github.com/alvarotrigo/vue-fullpage.js/tree/master/example

@JonathanSchndr I guess we'll have to update the codepen for the new Vue version?
I've given it a try but I'm sure I'm missing something :)
https://codepen.io/alvarotrigo/pen/poKZQNG

[2022-11-29 19:00] alvarotrigo commented on #260
You can use codesandbox.
https://codesandbox.io/s/practical-danilo-sf5y1h?file=/package.json